<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!--бібліотеки і скріпти для fancybox-->
    <script type="text/javascript" src="~/Scripts/jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.mousewheel-3.0.6.pack.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.fancybox.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.fancybox.css" media="screen" />

    <script type="text/javascript">
        $(document).ready(function () {
            $(".fancybox").fancybox({
                maxWidth: 800,
                maxHeight: 600,
                fitToView: false,
                width: '70%',
                height: '70%',
                autoSize: false,
                closeClick: false,
                openEffect: 'none',
                closeEffect: 'none'
            });
        });
    </script>

</head>
<body>
    <div class="row">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Images gallery</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Home", "Home", new { }, null)</li>
                        <li>@Html.ActionLink("Random images", "RandImage", "Home", new { }, null)</li>
                        <li>@Html.ActionLink("All images", "AllImage", "Home", new { }, null)</li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container body-content">
        <div class="row">
            @RenderBody()
        </div>
        <hr />
        <div class="row">
            <footer>
                <p>&copy; @DateTime.Now.Year - ASP.NET Application</p>
            </footer>
        </div>
    </div>

</body>
</html>