<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!--бібліотеки і скріпти для fancybox-->
    <script type="text/javascript" src="~/Scripts/jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.mousewheel-3.0.6.pack.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.fancybox.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.fancybox.css" media="screen" />

    <script type="text/javascript">
        $(document).ready(function () {
            $(".fancybox").fancybox({
                maxWidth: 800,
                maxHeight: 600,
                fitToView: false,
                width: '70%',
                height: '70%',
                autoSize: false,
                closeClick: false,
                openEffect: 'none',
                closeEffect: 'none'
            });
        });
    </script>

</head>
<body>
    <nav class ="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Image gallery</a>
            </div>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Home", "Home", new { }, null)</li>
                <li>@Html.ActionLink("Randome image", "RandImage", "Home", new { }, null)</li>
                <li>@Html.ActionLink("All image", "AllImage", "Home", new { }, null)</li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ASP.NET Application</p>
        </footer>
    </div>

</body>
</html>